# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
__pycache__/

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

#vs code settings
/.vscode/settings.json

#API keys
serviceAccountKey.json