.container {
  display:flex;
  align-items:center;  
}


.body {
  background-color: #1e2021 ;
  color: #eeece9
}

a {
  color: #3997ff;
}

li, ol, ul *{
  color: #eeece9;
}

code {
  font-family: Consolas,"courier new";
  color: rgb(187, 206, 243);
  background-color: #3a343449;
  padding: 2px;
  font-size: 105%;
}

.body_con{
  width: 70%;
}